public/data/indexed-workflows/details/fan-out-broadcast-and-merge-q45v.json
{
  "id": "fan-out-broadcast-and-merge-pg29i",
  "name": "Fan-Out Broadcast and Merge",
  "slug": "fan-out-broadcast-and-merge-q45v",
  "description": "Fan-Out Broadcast and Merge built for n8n integrations.",
  "shortDescription": "Fan-Out Broadcast and Merge workflow containing 7 nodes.",
  "originalWorkflowJson": {
    "name": "Fan-Out Broadcast and Merge",
    "nodes": [
      {
        "id": "fan-0001",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          200,
          300
        ],
        "webhookId": "b2e3f4a5-6b7c-8d9e-0f1a-bc2345678903",
        "parameters": {
          "path": "template/broadcast",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "typeVersion": 2
      },
      {
        "id": "fan-0002",
        "name": "Notas & Testes",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -120,
          80
        ],
        "parameters": {
          "color": 7,
          "width": 740,
          "height": 360,
          "content": "## Template: Fan-out/merge para broadcast multi-canal\n\n- Objetivo: Disparar em paralelo para múltiplos canais e consolidar.\n- Teste rápido:\n```bash\ncurl -X POST http://<SEU_N8N>/webhook/template/broadcast \\\n -H 'Content-Type: application/json' \\\n -d '{\\\"message\\\":\\\"Hello world\\\"}'\n```\n- Produção: troque 'Broadcast A/B' por Slack/Discord/Telegram (HTTP/API)."
        },
        "typeVersion": 1
      },
      {
        "id": "fan-0003",
        "name": "Prepare Message",
        "type": "n8n-nodes-base.set",
        "position": [
          460,
          300
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "msg",
                "name": "message",
                "type": "string",
                "value": "={{ $json.body?.message || 'Hello from n8n' }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "fan-0004",
        "name": "Broadcast A",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          720,
          220
        ],
        "parameters": {
          "url": "https://httpbin.org/post",
          "method": "POST",
          "specifyBody": "json",
          "sendBody": true,
          "jsonBody": "={{ { text: $json.message, channel: 'alpha' } }}",
          "options": {
            "retryOnFail": true,
            "maxRetries": 2
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "fan-0005",
        "name": "Broadcast B",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          720,
          380
        ],
        "parameters": {
          "url": "https://httpbin.org/post",
          "method": "POST",
          "specifyBody": "json",
          "sendBody": true,
          "jsonBody": "={{ { text: $json.message, channel: 'beta' } }}",
          "options": {
            "retryOnFail": true,
            "maxRetries": 2
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "fan-0006",
        "name": "Merge Results",
        "type": "n8n-nodes-base.merge",
        "position": [
          980,
          300
        ],
        "parameters": {
          "mode": "combine",
          "options": {},
          "combineBy": "combineByPosition"
        },
        "typeVersion": 3
      },
      {
        "id": "fan-0007",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          1240,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Prepare Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Message": {
        "main": [
          [
            {
              "node": "Broadcast A",
              "type": "main",
              "index": 0
            },
            {
              "node": "Broadcast B",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Broadcast A": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Broadcast B": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "normalizedWorkflowJson": {
    "connections": {
      "Broadcast A": {
        "main": [
          [
            {
              "index": 0,
              "node": "Merge Results"
            }
          ]
        ]
      },
      "Broadcast B": {
        "main": [
          [
            {
              "index": 1,
              "node": "Merge Results"
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "index": 0,
              "node": "Respond"
            }
          ]
        ]
      },
      "Prepare Message": {
        "main": [
          [
            {
              "index": 0,
              "node": "Broadcast A"
            },
            {
              "index": 0,
              "node": "Broadcast B"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Prepare Message"
            }
          ]
        ]
      }
    },
    "name": "Fan-Out Broadcast and Merge",
    "nodes": [
      {
        "name": "Broadcast A",
        "parameters": {
          "jsonBody": "={{ { text: $json.message, channel: 'alpha' } }}",
          "method": "POST",
          "options": {
            "maxRetries": 2,
            "retryOnFail": true
          },
          "sendBody": true,
          "specifyBody": "json",
          "url": "https://httpbin.org/post"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "name": "Broadcast B",
        "parameters": {
          "jsonBody": "={{ { text: $json.message, channel: 'beta' } }}",
          "method": "POST",
          "options": {
            "maxRetries": 2,
            "retryOnFail": true
          },
          "sendBody": true,
          "specifyBody": "json",
          "url": "https://httpbin.org/post"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "name": "Merge Results",
        "parameters": {
          "combineBy": "combineByPosition",
          "mode": "combine",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3
      },
      {
        "name": "Notas & Testes",
        "parameters": {
          "color": 7,
          "content": "## Template: Fan-out/merge para broadcast multi-canal\n\n- Objetivo: Disparar em paralelo para múltiplos canais e consolidar.\n- Teste rápido:\n```bash\ncurl -X POST http://<SEU_N8N>/webhook/template/broadcast \\\n -H 'Content-Type: application/json' \\\n -d '{\\\"message\\\":\\\"Hello world\\\"}'\n```\n- Produção: troque 'Broadcast A/B' por Slack/Discord/Telegram (HTTP/API).",
          "height": 360,
          "width": 740
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "name": "Prepare Message",
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "msg",
                "name": "message",
                "type": "string",
                "value": "={{ $json.body?.message || 'Hello from n8n' }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "name": "Respond",
        "parameters": {
          "options": {},
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1
      },
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "template/broadcast",
          "responseMode": "responseNode"
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2
      }
    ]
  },
  "nodeCount": 7,
  "integrationCount": 2,
  "difficulty": "Intermediate",
  "estimatedSetupTime": "15 Mins",
  "integrations": [
    "Webhook",
    "HTTP Request"
  ],
  "securityStatus": "Review Recommended",
  "verified": true,
  "featured": true,
  "downloadCount": 89,
  "viewCount": 830,
  "workflowOrigin": "third_party_import",
  "instructionStatus": "auto_generated",
  "instructions": {
    "prerequisites": [
      "An active n8n instance installed locally, in a Docker container, or hosted on n8n Cloud.",
      "Basic familiarity with importing JSON templates in n8n."
    ],
    "setupInstructions": [
      "Download the JSON configuration for this workflow.",
      "Import the JSON into n8n.",
      "Ensure you set up credentials for all connected integrations.",
      "Test your trigger and run execution."
    ],
    "requiredAccounts": [
      "Webhook Account",
      "HTTP Request Account"
    ],
    "requiredCredentials": [
      "No custom credentials required for utility-only operations."
    ],
    "configurationSteps": [
      "Locate the webhook node named \"Webhook\".",
      "Copy the Test Webhook URL provided by n8n.",
      "Configure your source application (e.g. Stripe, Typeform) to send event payloads to this URL.",
      "Locate the webhook node named \"Respond\".",
      "Copy the Test Webhook URL provided by n8n.",
      "Configure your source application (e.g. Stripe, Typeform) to send event payloads to this URL.",
      "Open the \"Notas & Testes\" node (n8n-nodes-base.stickyNote) and configure the action parameters, mappings, and fields.",
      "Open the \"Broadcast A\" node (n8n-nodes-base.httpRequest) and configure the action parameters, mappings, and fields.",
      "Open the \"Broadcast B\" node (n8n-nodes-base.httpRequest) and configure the action parameters, mappings, and fields.",
      "Open the \"Merge Results\" node (n8n-nodes-base.merge) and configure the action parameters, mappings, and fields.",
      "Locate the Set/Edit fields node \"Prepare Message\".",
      "Define or edit values for variables that are referenced in downstream nodes."
    ],
    "testingSteps": [
      "Click the \"Test step\" or \"Listen for test event\" button on your Trigger node.",
      "Send a test trigger from your source service (e.g. fill a test form or trigger a webhook trigger).",
      "Verify that the node canvas lights up green, indicating successful data flow.",
      "Open the final destination node to confirm that output records were saved correctly."
    ],
    "expectedResult": "Upon trigger activation, inputs will flow through the configured nodes and execute actions successfully.",
    "troubleshooting": [
      "Check credential warning symbols. Most workflow issues stem from expired OAuth connections or missing API permissions.",
      "Verify that the data keys coming from your Trigger node match the exact names mapped in subsequent nodes (e.g., {{ $json.body.email }}).",
      "Open the Execution history tab in n8n to view logs and determine which node failed."
    ],
    "securityNotes": [
      "Never hardcode API keys, passwords, or authentication bearer tokens in the plain text fields of node parameters.",
      "If you download or share this workflow JSON, sanitize any sensitive parameters or configuration nodes."
    ],
    "customizationIdeas": [
      "Add an email node at the end to notify you of successful executions.",
      "Incorporate an AI LLM node to summarize trigger payloads before writing them to integrations."
    ]
  },
  "qualityScore": 93,
  "validationStatus": "Valid",
  "provenanceStatus": "source_repository_indexed",
  "importBatch": "zie619-source-2026-07",
  "sources": [
    {
      "id": "src-n0sjgjq6c",
      "workflowId": "fan-out-broadcast-and-merge-pg29i",
      "sourceName": "Zie619 n8n Workflows Repository",
      "sourceUrl": "https://github.com/Zie619/n8n-workflows/blob/main/workflows/Templates/9003_FanOut_Broadcast_and_Merge_Webhook.json",
      "sourceAuthor": "Original author not identified",
      "sourceLicense": "MIT License",
      "sourceRepository": "https://github.com/Zie619/n8n-workflows",
      "sourceFilePath": "Templates\\9003_FanOut_Broadcast_and_Merge_Webhook.json",
      "discoveredAt": "2026-07-15T11:17:43.700Z"
    }
  ],
  "createdAt": "2026-07-15T11:17:43.700Z",
  "updatedAt": "2026-07-15T11:17:43.700Z"
}