public/data/indexed-workflows/details/rapid-etl-http-transform-deliver-7fi2.json
{
  "id": "rapid-etl-http-transform-deliver-b8l1x",
  "name": "Rapid ETL: HTTP -> Transform -> Deliver",
  "slug": "rapid-etl-http-transform-deliver-7fi2",
  "description": "Rapid ETL: HTTP -> Transform -> Deliver built for n8n integrations.",
  "shortDescription": "Rapid ETL: HTTP -> Transform -> Deliver workflow containing 5 nodes.",
  "originalWorkflowJson": {
    "name": "Rapid ETL: HTTP -> Transform -> Deliver",
    "nodes": [
      {
        "id": "mtr-0001",
        "name": "Notas & Testes",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          80
        ],
        "parameters": {
          "color": 7,
          "width": 760,
          "height": 360,
          "content": "## Template: ETL Rápido (HTTP → Transform → Entregar)\n\n- Objetivo: Ingerir dados de uma API, transformar e enviar em lote.\n- Teste rápido: execute manualmente no Editor.\n- Fonte demo: jsonplaceholder.typicode.com/posts.\n- Entrega demo: httpbin.org/post (eco).\n- Produção: substitua 'Upsert Endpoint' pelo seu DB/API (Sheets, Postgres, etc.)."
        },
        "typeVersion": 1
      },
      {
        "id": "mtr-0002",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          200,
          280
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "mtr-0003",
        "name": "Fetch Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          460,
          280
        ],
        "parameters": {
          "url": "https://jsonplaceholder.typicode.com/posts",
          "method": "GET",
          "options": {}
        },
        "typeVersion": 4.2
      },
      {
        "id": "mtr-0004",
        "name": "Transform",
        "type": "n8n-nodes-base.function",
        "position": [
          720,
          280
        ],
        "parameters": {
          "functionCode": "// Keep top 10 posts and map fields\nconst data = Array.isArray(items[0].json) ? items[0].json : [];\nreturn data.slice(0, 10).map(post => ({ json: { id: post.id, title: post.title, userId: post.userId } }));"
        },
        "typeVersion": 2
      },
      {
        "id": "mtr-0005",
        "name": "Upsert Endpoint",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          980,
          280
        ],
        "parameters": {
          "url": "https://httpbin.org/post",
          "method": "POST",
          "specifyBody": "json",
          "sendBody": true,
          "jsonBody": "={{ $json }}",
          "options": {
            "retryOnFail": true,
            "maxRetries": 2
          }
        },
        "typeVersion": 4.2
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Fetch Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Data": {
        "main": [
          [
            {
              "node": "Transform",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transform": {
        "main": [
          [
            {
              "node": "Upsert Endpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  },
  "normalizedWorkflowJson": {
    "connections": {
      "Fetch Data": {
        "main": [
          [
            {
              "index": 0,
              "node": "Transform"
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "index": 0,
              "node": "Fetch Data"
            }
          ]
        ]
      },
      "Transform": {
        "main": [
          [
            {
              "index": 0,
              "node": "Upsert Endpoint"
            }
          ]
        ]
      }
    },
    "name": "Rapid ETL: HTTP -> Transform -> Deliver",
    "nodes": [
      {
        "name": "Fetch Data",
        "parameters": {
          "method": "GET",
          "options": {},
          "url": "https://jsonplaceholder.typicode.com/posts"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "name": "Manual Trigger",
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1
      },
      {
        "name": "Notas & Testes",
        "parameters": {
          "color": 7,
          "content": "## Template: ETL Rápido (HTTP → Transform → Entregar)\n\n- Objetivo: Ingerir dados de uma API, transformar e enviar em lote.\n- Teste rápido: execute manualmente no Editor.\n- Fonte demo: jsonplaceholder.typicode.com/posts.\n- Entrega demo: httpbin.org/post (eco).\n- Produção: substitua 'Upsert Endpoint' pelo seu DB/API (Sheets, Postgres, etc.).",
          "height": 360,
          "width": 760
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1
      },
      {
        "name": "Transform",
        "parameters": {
          "functionCode": "// Keep top 10 posts and map fields\nconst data = Array.isArray(items[0].json) ? items[0].json : [];\nreturn data.slice(0, 10).map(post => ({ json: { id: post.id, title: post.title, userId: post.userId } }));"
        },
        "type": "n8n-nodes-base.function",
        "typeVersion": 2
      },
      {
        "name": "Upsert Endpoint",
        "parameters": {
          "jsonBody": "={{ $json }}",
          "method": "POST",
          "options": {
            "maxRetries": 2,
            "retryOnFail": true
          },
          "sendBody": true,
          "specifyBody": "json",
          "url": "https://httpbin.org/post"
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      }
    ]
  },
  "nodeCount": 5,
  "integrationCount": 1,
  "difficulty": "Beginner",
  "estimatedSetupTime": "10 Mins",
  "integrations": [
    "HTTP Request"
  ],
  "securityStatus": "Review Recommended",
  "verified": true,
  "featured": true,
  "downloadCount": 199,
  "viewCount": 685,
  "workflowOrigin": "third_party_import",
  "instructionStatus": "auto_generated",
  "instructions": {
    "prerequisites": [
      "An active n8n instance installed locally, in a Docker container, or hosted on n8n Cloud.",
      "Basic familiarity with importing JSON templates in n8n."
    ],
    "setupInstructions": [
      "Download the JSON configuration for this workflow.",
      "Import the JSON into n8n.",
      "Ensure you set up credentials for all connected integrations.",
      "Test your trigger and run execution."
    ],
    "requiredAccounts": [
      "HTTP Request Account"
    ],
    "requiredCredentials": [
      "No custom credentials required for utility-only operations."
    ],
    "configurationSteps": [
      "Verify the settings of the trigger node \"Manual Trigger\".",
      "Open the \"Notas & Testes\" node (n8n-nodes-base.stickyNote) and configure the action parameters, mappings, and fields.",
      "Open the \"Fetch Data\" node (n8n-nodes-base.httpRequest) and configure the action parameters, mappings, and fields.",
      "Open the \"Transform\" node (n8n-nodes-base.function) and configure the action parameters, mappings, and fields.",
      "Open the \"Upsert Endpoint\" node (n8n-nodes-base.httpRequest) and configure the action parameters, mappings, and fields.",
      "No global variables node (Set node) is present. If you need dynamic constants, add a Set node after the trigger."
    ],
    "testingSteps": [
      "Click the \"Test step\" or \"Listen for test event\" button on your Trigger node.",
      "Send a test trigger from your source service (e.g. fill a test form or trigger a webhook trigger).",
      "Verify that the node canvas lights up green, indicating successful data flow.",
      "Open the final destination node to confirm that output records were saved correctly."
    ],
    "expectedResult": "Upon trigger activation, inputs will flow through the configured nodes and execute actions successfully.",
    "troubleshooting": [
      "Check credential warning symbols. Most workflow issues stem from expired OAuth connections or missing API permissions.",
      "Verify that the data keys coming from your Trigger node match the exact names mapped in subsequent nodes (e.g., {{ $json.body.email }}).",
      "Open the Execution history tab in n8n to view logs and determine which node failed."
    ],
    "securityNotes": [
      "Never hardcode API keys, passwords, or authentication bearer tokens in the plain text fields of node parameters.",
      "If you download or share this workflow JSON, sanitize any sensitive parameters or configuration nodes."
    ],
    "customizationIdeas": [
      "Add an email node at the end to notify you of successful executions.",
      "Incorporate an AI LLM node to summarize trigger payloads before writing them to integrations."
    ]
  },
  "qualityScore": 91,
  "validationStatus": "Valid",
  "provenanceStatus": "source_repository_indexed",
  "importBatch": "zie619-source-2026-07",
  "sources": [
    {
      "id": "src-o51gy9h4b",
      "workflowId": "rapid-etl-http-transform-deliver-b8l1x",
      "sourceName": "Zie619 n8n Workflows Repository",
      "sourceUrl": "https://github.com/Zie619/n8n-workflows/blob/main/workflows/Templates/9002_Rapid_ETL_HTTP_Transform_Deliver_Manual.json",
      "sourceAuthor": "Original author not identified",
      "sourceLicense": "MIT License",
      "sourceRepository": "https://github.com/Zie619/n8n-workflows",
      "sourceFilePath": "Templates\\9002_Rapid_ETL_HTTP_Transform_Deliver_Manual.json",
      "discoveredAt": "2026-07-15T11:17:43.682Z"
    }
  ],
  "createdAt": "2026-07-15T11:17:43.682Z",
  "updatedAt": "2026-07-15T11:17:43.682Z"
}